* {
  font-family: Arial, sans-serif;
}

body {
  margin: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

section {
  margin: 0 auto;
}

.button {
  padding: 10px 20px;
  color: #fff;
  background-color: #0056b3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
